.card-ancor {
    text-decoration: none;
}

.card-ancor .card{
    width: 200px;
}

.card-ancor .card .card-capa {
    width: 100%;
    height: 100px;

    background-size: 100%;
    background-repeat: no-repeat;
}

.card-ancor .card .card-body {
    padding: 10px;
}

.card-ancor .card .card-body > div:not(:last-child){
    margin-bottom: 5px;
}

.card-ancor .card .card-body .titulo{
    font-size: 1.2em;
    color: black;
    text-align: center;
}

